<form action='' method = "POST">
  <p>employee ID <input type = "integer" name = "employee_id" /></p>
  <p>Nama <input type = "text" name = "name" /></p>
  <p>Umur <input type = "integer" name = "age" /></p>
  <p>Nik <input type = "text" name = "nik" /></p>
    <p>Address <input type = "text" name = "address" /></p>
    <p>Jenis Kelamin <input type = "text" name = "jk" /></p>
    <p>No.HP <input type = "text" name = "hp" /></p>
    <p>Tempat Tanggal Lahir<input type = "text" name = "tgl_lahir" /></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>