<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .employee-table th, .employee-table td {
            vertical-align: middle;
        }
        .employee-table th {
            background-color: #352e2c;
            color: #dee2e6;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
            <a href="{{ url_for('create') }}"><button>Add Employee</button></a>
                <table class="table table-bordered employee-table">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Nama</th>
                            <th>Umur</th>
                            <th>NIK</th>
                            <th>Address</th>
                            <th>Jenis Kelamin</th>
                            <th>No.HP</th>
                            <th>Tempat Tanggal Lahir</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{employee.employee_id}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.age}}</td>
                            <td>{{employee.nik}}</td>
                            <td>{{employee.address}}</td>
                            <td>{{employee.jk}}</td>
                            <td>{{employee.hp}}</td>
                            <td>{{employee.tgl_lahir}}</td>
                            <td><a href="{{ url_for('RetrieveEmployee', id=employee.id) }}"><button>Lihat</button></a>
                            <a href="{{ url_for('update', id=employee.id) }}"><button>Edit</button></a>
                                <a href="{{ url_for('delete', id=employee.id) }}"><button>Hapus</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
