<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .employee-card {
            margin-bottom: 20px;
        }
        .employee-header {
            background-color: #352e2c;
            padding: 10px;
            border-radius: 5px 5px 0 0;
            color: #dee2e6;
        }
        .employee-body {
            padding: 10px;
            border: 1px solid #dee2e6;
            border-top: none;
            border-radius: 0 0 5px 5px;
            background-color: #ece0dd;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            {% for employee in employees %}
            <div class="col-md-6">
                <div class="card employee-card">
                    <div class="card-header employee-header">
                        <h5>Employee ID: {{employee.employee_id}}</h5>
                    </div>
                    <div class="card-body employee-body">
                        <h6 class="card-title">Nama: {{employee.name}}</h6><hr>
                        <p class="card-text">Umur: {{employee.age}}</p><hr>
                        <p class="card-text">NIK: {{employee.nik}}</p><hr>
                        <p class="card-text">Address: {{employee.address}}</p><hr>
                        <p class="card-text">Jenis Kelamin: {{employee.tgl_lahir}}</p><hr>
                        <p class="card-text">No.HP: {{employee.hp}}</p><hr>
                        <p class="card-text">Tempat Tanggal Lahir: {{employee.tgl_lahir}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
