<form action='' method = "POST">
  <p>Nama <input type = "text" name = "name" value="{{employee.name}}"/></p>
  <p>Umur <input type = "integer" name = "age"  value="{{employee.age}}"/></p>
  <p>Nik <input type = "text" name = "nik" value="{{employee.nik}}"/></p>
    <p>Address <input type = "text" name = "address" value="{{employee.address}}"/></p>
    <p>Jenis Kelamin <input type = "text" name = "jk" value="{{employee.jk}}"/></p>
    <p>No.HP<input type = "text" name = "hp" value="{{employee.hp}}"/></p>
    <p>Tempat Tanggal Lahir<input type = "text" name = "tgl_lahir" value="{{employee.tgl_lahir}}"/></p>

  <p><input type = "submit" value = "Submit" /></p>
</form>